#
# Project nurikit - Copyright 2023 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

# Require clangd v15
CompileFlags:
  # If these flags are updated, .clang-tidy should be updated as well
  Add:
    - -xc++
    - -Weverything
    - -Wno-c++98-compat
    - -Wno-c++98-compat-pedantic
    - -Wno-c++98-c++11-compat-binary-literal
    - -Wno-c++03-compat
    - -Wno-exit-time-destructors
    - -Wno-global-constructors
    - -Wno-thread-safety-negative
    - -Wno-sign-compare
    - -Wno-sign-conversion
    - -Wno-padded
    - -Wno-weak-vtables
    - -Wno-ignored-optimization-argument
    - -Wno-unused-macros
    - -Wno-unsafe-buffer-usage
  Remove:
    - '-fsanitize=*'
Style:
  FullyQualifiedNamespaces: true
Diagnostics:
  UnusedIncludes: Strict
Completion:
  AllScopes: true
Hover:
  ShowAKA: Yes
