#
# Project NuriKit - Copyright 2023 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

# Require clang-format v15
---
Language: Cpp
Standard: c++17
BasedOnStyle: Google
DisableFormat: false
ColumnLimit: 80
TabWidth: 2

AccessModifierOffset: -2
AlignArrayOfStructures: Right
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: false
  PadOperators: true
AlignEscapedNewlines: Right
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false
DerivePointerAlignment: false
IncludeCategories:
  - Regex: "^<(absl|gtest|gmock)/.*"
    Priority: 3
    SortPriority: 4
    CaseSensitive: false
  - Regex: "^<.*/.*"
    Priority: 2
    SortPriority: 3
    CaseSensitive: false
  - Regex: '^<.*\..*>'
    Priority: 2
    SortPriority: 2
    CaseSensitive: false
  - Regex: "^<.*"
    Priority: 1
    SortPriority: 1
    CaseSensitive: false
  - Regex: "^.*config.h"
    Priority: 4
    SortPriority: 5
    CaseSensitive: false
  - Regex: "^.*/.*"
    Priority: 4
    SortPriority: 7
    CaseSensitive: false
  - Regex: "^.*"
    Priority: 4
    SortPriority: 6
    CaseSensitive: false
IndentCaseLabels: false
# InsertNewlineAtEOF: true  # require clang-format v16
# LineEnding: LF  # require clang-format v16
NamespaceIndentation: Inner
PackConstructorInitializers: BinPack
PenaltyBreakAssignment: 10
PenaltyBreakBeforeFirstCallParameter: 30
PenaltyBreakComment: 10
PenaltyBreakFirstLessLess: 0
PenaltyBreakString: 80
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 60
PointerAlignment: Right
QualifierAlignment: Custom
QualifierOrder:
  - constexpr
  - inline
  - static
  - const
  - volatile
  - type
  - restrict
SortIncludes: CaseInsensitive
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: Custom
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyBlock: true
SpacesInContainerLiterals: false
