#
# Project NuriKit - Copyright 2023 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        args: ["-b", "main", "-p", "release/.*"]
      - id: check-added-large-files
        args: ["--maxkb=10240"] # 10MiB
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        exclude: ^(test/test_data/|fuzz/corpus-min/)
      - id: fix-byte-order-marker
        exclude: ^(test/test_data/|fuzz/corpus-min/)
      - id: trailing-whitespace
        exclude: ^(test/test_data/|fuzz/corpus-min/)
        args: ["--markdown-linebreak-ext=md"]
      - id: mixed-line-ending
        exclude: ^(test/test_data/|fuzz/corpus-min/)
        args: ["--fix=lf"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff-check
        args: ["--fix", "--fixable=I"]
        types_or: ["python", "pyi", "jupyter"]
        fail_fast: true
      - id: ruff-format
        types_or: ["python", "pyi", "jupyter"]
default_install_hook_types:
  - pre-commit
  - pre-push
  - commit-msg
default_stages:
  - pre-commit
ci:
  autofix_commit_msg: |
    fix(pre-commit): auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autoupdate_commit_msg: "chore(deps): pre-commit autoupdate"
