#
# Project NuriKit - Copyright 2023 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
        args: ["-b", "main", "-p", "release/.*"]
      - id: check-added-large-files
        args: ["--maxkb=10240"] # 10MiB
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        exclude: ^test/test_data/
      - id: fix-byte-order-marker
        exclude: ^test/test_data/
      - id: trailing-whitespace
        exclude: ^test/test_data/
        args: ["--markdown-linebreak-ext=md"]
      - id: mixed-line-ending
        exclude: ^test/test_data/
        args: ["--fix=lf"]
  - repo: https://github.com/seoklab/shared-hooks
    rev: v0.1.1
    hooks:
      - id: commitlint
default_install_hook_types:
  - pre-commit
  - pre-push
  - commit-msg
default_stages:
  - pre-commit
