#
# Project NuriKit - Copyright 2023 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

filter = src/
filter = include/
filter = python/src/
filter = python/include/

print-summary = yes
exclude-unreachable-branches = yes
exclude-throw-branches = yes
exclude-noncode-lines = yes
gcov-parallel = yes
