#
# Project NuriKit - Copyright 2024 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

InheritParentConfig: true
# Reports false positives on Eigen for bfgs
Checks: "-clang-analyzer-unix.Malloc"
