#
# Project NuriKit - Copyright 2023 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

name: Check commit message for skipping test

on:
  workflow_call:
    inputs:
      keyword:
        type: string
        default: "test"
      skip-bots:
        type: boolean
        default: false
    outputs:
      want:
        value: ${{ jobs.check-want.outputs.want }}

defaults:
  run:
    shell: bash

jobs:
  check-want:
    name: Check want ${{ inputs.keyword }}
    runs-on: ubuntu-latest
    outputs:
      want: ${{ steps.want.outputs.want }}
    steps:
      - uses: actions/checkout@v5
        id: checkout
        if: ${{ !github.event.pull_request.draft && (!inputs.skip-bots || !endsWith(github.triggering_actor, '[bot]')) }}
        with:
          fetch-depth: 0

      - name: Test commit message
        if: ${{ steps.checkout.outcome == 'success' }}
        id: test-commit-msg
        run: |
          if [[ ${{ github.event_name }} == pull_request ]]; then
            msg="$(git log --no-merges --format=%B -n 1 HEAD)"
          else
            msg="git log --format=%B -n 1 HEAD"
          fi

          if grep -Eq "\[(skip $keyword|$keyword skip)\]" <<< "$msg"; then
            echo "WANT=false" >>"$GITHUB_ENV"
          else
            echo "WANT=true" >>"$GITHUB_ENV"
          fi
        env:
          keyword: ${{ inputs.keyword }}

      - name: Set output
        id: want
        run: echo "want=${WANT-false}" >>"$GITHUB_OUTPUT"
