#
# Project nurikit - Copyright 2023 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

name: Test and Report Coverage

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true

defaults:
  run:
    shell: bash

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "~3.16.0" # for Ubuntu 20.04

      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install gcovr
        run: pip install gcovr

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Compile and run tests
        run: |
          mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=Debug -DNURI_TEST_COVERAGE=ON -G Ninja ..
          cmake --build . -j --target nuri_all_test
          ../scripts/check_coverage.sh . --json

      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/coverage/json/coverage.json
          fail_ci_if_error: true
          verbose: true

  test-build:
    runs-on: ubuntu-latest
    steps:
      - uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "~3.16.0" # for Ubuntu 20.04

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Build and test
        # CMake 'test' target does not have dependencies on 'all' target...
        run: |
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS=-Werror -S . -B build -G Ninja
          cmake --build build -j --target all
          cmake --build build -j --target test
