#
# Project NuriKit - Copyright 2023 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

name: Build wheels

on:
  workflow_call:
    inputs:
      python:
        type: string
        description: "Python version"
        required: true

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Wheel for ${{ inputs.python }}
    runs-on: ${{ contains(inputs.python, 'linux') && 'ubuntu-latest' || 'macos-latest' }}
    steps:
      # https://github.com/pypa/cibuildwheel/issues/954
      - if: ${{ inputs.python == 'cp38-macosx_arm64' }}
        run: |
          curl -o python-3.8.10-macos11.pkg https://www.python.org/ftp/python/3.8.10/python-3.8.10-macos11.pkg
          sudo installer -pkg python-3.8.10-macos11.pkg -target /

      - uses: lukka/get-cmake@latest
        with:
          # Linux -> for Ubuntu 22.04
          # macOS -> universal binary at least from 3.19.7
          cmakeVersion: ${{ contains(inputs.python, 'linux') && '~3.22.0' || '3.19.7' }}

      - uses: actions/download-artifact@v4
        with:
          name: sdist

      - uses: actions/download-artifact@v4
        with:
          name: libnuri-${{ contains(inputs.python, 'linux') && 'linux' || 'macosx' }}
          path: dist

      - run: |
          tar -xvf *.tar* --strip-components=1
          tar -xvf dist/*.tar* -C dist

      - id: resolve
        run: |
          if [[ $python == *linux* ]]; then
            project=/project
            brew=/home/linuxbrew/.linuxbrew

            eval "$("$brew/bin/brew" shellenv)"
          else
            project="$(pwd)"
            brew=/opt/homebrew
          fi
          echo "prefix=${project}/dist\\;${brew}" >>"$GITHUB_OUTPUT"
          echo "ldpath=${project}/dist/lib" >>"$GITHUB_OUTPUT"

          brew install eigen boost pybind11
        env:
          python: ${{ inputs.python }}

      - uses: pypa/cibuildwheel@v2.23.3
        env:
          CIBW_BUILD: ${{ inputs.python }}
          CIBW_ARCHS: "all"
          SKBUILD_CMAKE_ARGS: "-DCMAKE_PREFIX_PATH=${{ steps.resolve.outputs.prefix }};-DCMAKE_INSTALL_RPATH=${{ steps.resolve.outputs.ldpath }};-DNURI_BUILD_LIB=OFF;-DNURI_PREBUILT_ABSL=ON;-DBoost_USE_STATIC_LIBS=ON"

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ inputs.python }}
          path: wheelhouse/*.whl
