#
# Project NuriKit - Copyright 2023 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

name: Test main branch

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/main-test.yaml"
      - ".github/workflows/_test-and-coverage.yaml"
      - ".github/workflows/_run-clang-tools.yaml"
      - "cmake/**"
      - "include/**"
      - "scripts/**"
      - "src/**"
      - "test/**"
      - "python/include/**"
      - "python/src/**"
      - "python/test/**"
      - "third-party/**"
      - ".clang-*"
      - "CMakeLists.txt"

defaults:
  run:
    shell: bash

jobs:
  check-want-lint:
    uses: ./.github/workflows/_check-want-test.yaml
    with:
      keyword: "lint"
      skip-bots: true

  run-clang-tools:
    needs: check-want-lint
    if: ${{ needs.check-want-lint.outputs.want == 'true' }}
    uses: ./.github/workflows/_run-clang-tools.yaml
    with:
      files-changed-only: false

  check-want-test:
    uses: ./.github/workflows/_check-want-test.yaml

  test-and-coverage:
    needs: check-want-test
    if: ${{ needs.check-want-test.outputs.want == 'true' }}
    uses: ./.github/workflows/_test-and-coverage.yaml
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
