#
# Project NuriKit - Copyright 2023 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

name: Lint PR

on:
  pull_request:
    branches:
      - main
      - "release/**"
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

defaults:
  run:
    shell: bash

jobs:
  check-want-lint:
    uses: ./.github/workflows/_check-want-test.yaml
    with:
      keyword: "lint"
      skip-bots: true

  check-files:
    needs: check-want-lint
    runs-on: ubuntu-latest
    if: ${{ needs.check-want-lint.outputs.want == 'true' }}
    outputs:
      config-changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files: |
            **.clang-*
            scripts/run_clang_tools.sh

  run-clang-tools:
    needs: check-files
    uses: ./.github/workflows/_run-clang-tools.yaml
    with:
      files-changed-only: ${{ needs.check-files.outputs.config-changed == 'false' }}

  conclusion-lint:
    needs: run-clang-tools
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - run: |
          if [[ $FAILED == 'true' ]]; then
            echo "Linting failed."
            exit 1
          fi
        env:
          FAILED: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
