#
# Project NuriKit - Copyright 2023 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

name: Lint PR

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/pr-lint.yaml"
      - ".github/workflows/_run-clang-tools.yaml"
      - "cmake/**"
      - "include/**"
      - "scripts/run_clang_tools.sh"
      - "src/**"
      - "test/**"
      - "python/include/**"
      - "python/src/**"
      - "python/test/**"
      - "CMakeLists.txt"
      - "**.clang-*"
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

defaults:
  run:
    shell: bash

jobs:
  check-files:
    runs-on: ubuntu-latest
    outputs:
      config-changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: changed-files
        uses: tj-actions/changed-files@v42
        with:
          since_last_remote_commit: true
          files: |
            **.clang-*
            scripts/run_clang_tools.sh

  run-clang-tools:
    needs: [check-files]
    uses: ./.github/workflows/_run-clang-tools.yaml
    with:
      files-changed-only: ${{ needs.check-files.outputs.config-changed == 'false' }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
