#
# Project NuriKit - Copyright 2023 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

name: Common PR reviews

on:
  pull_request:
    branches:
      - main
      - "release/**"
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

defaults:
  run:
    shell: bash

jobs:
  commitlint:
    if: ${{ !endsWith(github.triggering_actor, '[bot]') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - run: pip install -U gitlint

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Validate commit messages
        run: |
          gitlint --commits \
            ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
