#
# Project NuriKit - Copyright 2023 SNU Compbio Lab.
# SPDX-License-Identifier: Apache-2.0
#

name: Test PR

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/pr-test.yaml"
      - ".github/workflows/_test-and-coverage.yaml"
      - "cmake/**"
      - "include/**"
      - "scripts/check_coverage.sh"
      - "src/**"
      - "test/**"
      - "python/include/**"
      - "python/src/**"
      - "python/test/**"
      - "third-party/**"
      - "CMakeLists.txt"
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

defaults:
  run:
    shell: bash

jobs:
  check-want-test:
    if: ${{ !github.event.pull_request.draft }}
    uses: ./.github/workflows/_check-want-test.yaml

  test-and-coverage:
    needs: [check-want-test]
    if: ${{ always() && needs.check-want-test.outputs.want-test == 'true' }}
    uses: ./.github/workflows/_test-and-coverage.yaml
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
